{% block base %}
<!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/images/favicon.ico" />

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS-->
        <link href="{{ app.request.getBaseURL()  }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="{{ app.request.getBaseURL()  }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="{{ app.request.getBaseURL()  }}/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ app.request.getBaseURL()  }}/css/sb-admin.css?v=1" rel="stylesheet">
        <script type="text/javascript">

            function openNav(loadPage) {

                if (localStorage.getItem("sideBar") === undefined) {
                    localStorage.setItem("sideBar", "true");
                }

                if (loadPage.localeCompare("loadPage") !== 0) {

                    if (localStorage.getItem("sideBar") === "false") {
                        document.getElementById("sidebar").style.width = "275px";
                        document.getElementById("button-collapse").setAttribute("onClick", "openNav(\"false\");");
                        document.getElementById("icon-collapse").classList.remove("fa-arrow-right");
                        document.getElementById("icon-collapse").classList.add("fa-arrow-left");
                        document.getElementById("sidebar").style.overflowX = "visible";
                        localStorage.setItem("sideBar", "true");

                    } else {
                        document.getElementById("button-collapse").setAttribute("onClick", "openNav(\"true\");");
                        document.getElementById("sidebar").style.width = "0";
                        document.getElementById("icon-collapse").classList.remove("fa-arrow-left");
                        document.getElementById("icon-collapse").classList.add("fa-arrow-right");
                        document.getElementById("sidebar").style.overflowX = "hidden";
                        localStorage.setItem("sideBar", "false");
                    }
                } else {
                    if (localStorage.getItem("sideBar") === "true") {
                        document.getElementById("sidebar").style.width = "275px";
                        document.getElementById("icon-collapse").classList.remove("fa-arrow-right");
                        document.getElementById("icon-collapse").classList.add("fa-arrow-left");
                        document.getElementById("sidebar").style.overflowX = "visible";
                    } else {
                        document.getElementById("sidebar").style.width = "0";
                        document.getElementById("icon-collapse").classList.remove("fa-arrow-left");
                        document.getElementById("icon-collapse").classList.add("fa-arrow-right");
                        document.getElementById("sidebar").style.overflowX = "hidden";
                    }
                }
            }
            document.addEventListener('DOMContentLoaded', function() {
                openNav("loadPage")
            }, false);
        </script>

    </head>
    <body id="page-top">
    {% endblock %}
    {% include 'home/navbar.html.twig' %}
    {% include 'home/sidebar.html.twig' %}
    {% if app.request.get('_route') != 'home_choiceConnexion'   %}
{#    <div style="height: 54px;">#}
{#        <a href="#top" data-toggle="sidebar-colapse"  id="button-collapse" onclick="openNav(false)" class=" list-group-item list-group-item-action d-flex align-items-center">#}
{#            <div class="d-flex w-100 justify-content-start align-items-center">#}
{#                <i class="fas fa-arrow-left" id="icon-collapse"></i>#}
{#            </div>#}
{#        </a>#}
{#    </div>#}
    {% endif %}
    {% block content %}

    {% endblock %}
    <div>
        <footer class="sticky-footer" id="footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Hcéres 2019</span>
                </div>
            </div>
        </footer>
    </div>
    {%  include 'home/footer.html.twig' %}

    {% block javascripts %}
    {% endblock %}

    <script>
        $('#extend_menu_hceres').click(function () {
            $('#nav-tabContent').toggleClass('d-inline-block','hide');
        });

        function toggle_hceres(id) {
            $('#nav-tabContent-'+id).toggleClass('d-inline-block','hide');
        }
    </script>

        {#{% block javascripts %}#}
            {#<script type="javascript">#}
                {#$(document).ready(function() {#}
                    {#console.log('here');#}
                    {#$('#alertsDropdownButton').click(function(){#}
                        {#var panel = $('#alertsDropdown');#}

                        {#if (panel.hasClass('show')) {#}
                            {#console.log('unshow');#}
                            {#panel.slideDown();#}
                            {#panel.removeClass('show');#}

                        {#} else {#}
                            {#console.log('show');#}
                            {#panel.slideUp();#}
                            {#panel.addClass('show');#}
                        {#}#}
                    {#});#}
                {#});#}
            {#</script>#}
       {#{% endblock %}#}
